.navbar {
  font-family: Circular Std;
  display: flex;
  justify-content: space-between;
  img {
    margin-top: 10px;
  }
  &__menu-icon {
    cursor: pointer;
    display: none;
  }

  &__container {
    display: flex;
    align-items: center;
  }
  &__container-link {
    display: flex;
    cursor: pointer;
    a {
      color: #fff;
    }
    margin: 0 50px;
  }

  &__buttons {
    align-items: center;
    display: flex;
  }
  &__button {
    margin: 0 20px;
    border-radius: 10px;
    filter: drop-shadow(0px 20px 35px rgba(223, 105, 81, 0.15));
    background: #df6951;
    width: 152px;
    height: 58px;
    color: white;
  }

  /* ----------------------------- Menu Container ----------------------------- */
  &__menu-container {
    box-shadow: -5px 0px 8px 0px rgba(34, 60, 80, 0.37);
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -200px;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 5px;
  }
  &__menu-container_links p {
    width: 100%;
    text-align: center;
    margin: 30px 5px;
    display: flex;
    justify-content: center;
  }
  &__menu-container_btn {
    font-size: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    filter: drop-shadow(0px 20px 35px rgba(223, 105, 81, 0.15));
    background: #df6951;
    width: 130px;
    height: 40px;
    color: white;
    display: none;
  }
  &__menu-container_close {
    padding: 0;
    margin: 0 -5px;
    width: 100%;
    display: flex;
    justify-content: end;
  }
  &__menu-container_close img {
    justify-self: end;
  }

  /* -------------------------------- Dropdown -------------------------------- */
  &__container-link_dropdown {
    background-image: url(/assets/home/dropdown.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    width: 229px;
    height: 188px;
    cursor: default;
    margin-top: 20px;
    position: absolute;
  }
  &__container-link_services:hover &__container-link_dropdown {
    display: block;
  }
  &__container-link_services:hover .navbar__container-link_icon {
    transform: rotate(90deg);
  }
  &__container-link_dropdown-content {
    padding-top: 30px;
  }
  &__container-link_dropdown-content li {
    margin: 14px 16px;
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
  }
  &__container-link_icon {
    min-width: 20px;
    min-height: 20px;
    color: #fff;
  }
  /* ------------------------------ DropDown Side ----------------------------- */
  &__container-link_dropdown-side {
    display: flex;
  }
  &__container-link_dropdown-side-content li {
    a {
      color: #000;
    }
    padding: 0 5px;
  }
}

/* -------------------------------- Adaptive -------------------------------- */

@media screen and (max-width: 1430px) {
  .navbar {
    &__container-link_dropdown-side-content li {
      margin: 10px 10px;
      font-size: 17px;
      width: 100%;
    }
    &__container-link_services:hover &__container-link_dropdown {
      display: none;
    }
    &__container-link_services:hover .navbar__container-link_icon {
      rotate: (90deg);
    }
    &__container-link_icon {
      width: 18px;
      height: 18px;
      min-width: 18px;
      min-height: 18px;

      color: #383851;
    }
    &__container-link_icon-default {
      width: 18px;
      height: 18px;
      min-width: 18px;
      min-height: 18px;
      color: #383851;
      margin-top: 5px;
    }
    &__container-link_icon-90 {
      min-width: 15px;
      min-height: 15px;
      color: #383851;
      transform: rotate(90deg);
    }
    &__container-link {
      a {
        color: #383851;
        font-size: 20px;
      }
      margin: 20px 5px;
    }
    &__menu-icon {
      display: flex;
    }
    &__container {
      display: none;
    }
    &__menu-icon {
      display: flex;
    }
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    &__button {
      display: none;
    }
    &__menu-container_btn {
      display: flex;
    }
  }
}
@media screen and (max-width: 375px) {
  .navbar__menu-container {
    width: 150px;
    font-size: 12px;
    &_btn {
      font-size: 12px;
      border-radius: 5px;
      width: 80%;
      height: 30px;
    }
  }
}
